@charset "utf-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #000000;
}
li {
  list-style: none;
}
.top1 {
  width: 100%;
  height: 90px;
  background-color: #FFFFFF;
  margin: 0 auto;
  z-index: 888;
  position: fixed;
  right: 0;
  left: 0;
}
.top1 .top {
  width: 1200px;
  height: 90px;
}
.top1 .top .lo1 {
  width: 200px;
  height: 31px;
  margin: 25px 50px;
  float: left;
}
.top1 .top li {
  width: 90px;
  height: 90px;
  float: left;
}
.top1 .top li a {
  color: #000;
  line-height: 90px;
  text-align: center;
  display: block;
}
.top1 .top li:hover a {
  border-bottom: 3px solid red;
  color: red;
}
.top1 .top span {
  width: 180px;
  height: 40px;
  display: block;
  background-image: url(../img/phone.png);
  background-repeat: no-repeat;
  margin: 36px 28px;
  float: left;
  text-align: center;
}
.center {
  width: 100%;
  height: 500px;
  background-image: url(../img/banner.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  position: relative;
}
.center p {
  width: 200px;
  height: 60px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: bold;
  position: absolute;
  bottom: 120px;
  right: 280px;
}
.center p:hover {
  opacity: 0.7;
}
.tcons {
  width: 100%;
  height: 500px;
  padding: 0px 200px;
}
.tcons p:first-child {
  width: 100%;
  height: 100px;
  font-size: 40px;
  line-height: 100px;
  text-align: center;
  font-weight: bold;
}
.tcons p:first-child i {
  color: red;
  font-style: normal;
}
.tcons li {
  width: 33.33%;
  height: 400px;
  float: left;
  background-position: center center;
  background-repeat: no-repeat;
}
.tcons li a {
  width: 100%;
  height: 400px;
}
.tcons li:first-child {
  background-image: url(../img/subject/a.png);
}
.tcons li:nth-child(2) {
  background-image: url(../img/subject/b.png);
}
.tcons li:last-child {
  background-image: url(../img/subject/c.png);
}
.tcons li:first-child:hover {
  background-image: url(../img/subject/aa.png);
}
.tcons li:nth-child(2):hover {
  background-image: url(../img/subject/bb.png);
}
.tcons li:last-child:hover {
  background-image: url(../img/subject/cc.png);
}
.ptic {
  width: 100%;
  height: 250px;
  padding: 100px 43%;
}
.ptic p {
  width: 200px;
  height: 60px;
  cursor: pointer;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: bold;
}
.ptic p:hover {
  opacity: 0.7;
}
.swal {
  width: 100%;
  height: 200px;
}
.swal p {
  width: 100%;
  height: 100px;
  font-size: 40px;
  text-align: center;
  line-height: 100px;
  font-weight: bold;
}
.swal p span {
  color: red;
}
.swal ul {
  width: 100%;
  height: 100px;
  padding: 10px 150px;
}
.swal ul li {
  width: 23%;
  height: 70px;
  float: left;
  margin: 0px 10px;
}
.swal ul li a {
  width: 100%;
  height: 70px;
  display: block;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 70px;
  border: 1px solid red;
  border-radius: 10px;
  color: red;
}
.swal ul li a:hover {
  color: #FFFFFF;
  background-color: red;
}
.swals {
  width: 100%;
  height: 100px;
  padding: 20px 460px;
}
.swals li {
  width: 33.33%;
  height: 60px;
  float: left;
  padding: 0px 10px;
}
.swals li a {
  width: 100%;
  height: 50px;
  border: 1px solid red;
  color: red;
  text-align: center;
  line-height: 50px;
  font-size: 25px;
  font-weight: bold;
  display: block;
  border-radius: 10px;
}
.swals li a:hover {
  color: #FFFFFF;
  background-color: red;
}
.centers {
  width: 100%;
  height: 500px;
}
.centers ul {
  width: 100%;
  height: 500px;
  padding: 20px 60px;
}
.centers ul li {
  width: 15%;
  height: 460px;
  float: left;
  margin: 0 10px;
}
.centers ul li:first-child .p1 {
  padding-top: 230px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fdb62b;
}
.centers ul li:first-child .p2 {
  width: 100%;
  height: 162px;
  background-color: #fdb62b;
  padding: 15px 15px;
  color: #FFFFFF;
}
.centers ul li:nth-child(2) .p1 {
  padding-top: 170px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fdb62b;
}
.centers ul li:nth-child(2) .p2 {
  width: 100%;
  height: 222px;
  background-color: #fdb62b;
  padding: 18px 15px;
  color: #FFFFFF;
}
.centers ul li:nth-child(3) .p1 {
  padding-top: 120px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fc8b37;
}
.centers ul li:nth-child(3) .p2 {
  width: 100%;
  height: 272px;
  background-color: #fc8b37;
  padding: 50px 15px;
  color: #FFFFFF;
}
.centers ul li:nth-child(4) .p1 {
  padding-top: 80px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fc8b37;
}
.centers ul li:nth-child(4) .p2 {
  width: 100%;
  height: 312px;
  background-color: #fc8b37;
  padding: 60px 15px;
  color: #FFFFFF;
}
.centers ul li:nth-child(5) .p1 {
  padding-top: 40px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fe5454;
}
.centers ul li:nth-child(5) .p2 {
  width: 100%;
  height: 352px;
  background-color: #fe5454;
  padding: 60px 15px;
  color: #FFFFFF;
}
.centers ul li:nth-child(6) .p1 {
  padding-top: 10px;
  padding-bottom: 20px;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  color: #fe5454;
}
.centers ul li:nth-child(6) .p2 {
  width: 100%;
  height: 382px;
  background-color: #fe5454;
  padding: 60px 15px;
  color: #FFFFFF;
}
.shows {
  width: 100%;
  height: 200px;
  padding: 20px 40%;
}
.shows p {
  width: 200px;
  height: 60px;
  margin-top: 60px;
  cursor: pointer;
  background-color: red;
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  line-height: 60px;
  color: #FFFFFF;
  font-weight: bold;
}
.shows p:hover {
  opacity: 0.7;
}
.footer {
  width: 100%;
  height: 100px;
}
.footer p:first-child {
  width: 100%;
  height: 50px;
  background-color: #777;
  line-height: 50px;
  padding-left: 30%;
}
.footer p:last-child {
  width: 100%;
  height: 50px;
  background-color: #444;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  color: #FFFFFF;
}
.nav {
  width: 60px;
  height: 200px;
  position: fixed;
  bottom: 200px;
  right: 100px;
}
.nav .n1 {
  width: 50px;
  height: 60px;
  margin-bottom: 5px;
}
.nav .n2 {
  width: 50px;
  height: 60px;
  margin-bottom: 5px;
}
.nav .n3 {
  width: 50px;
  height: 60px;
}
.nav .n4 {
  width: 50px;
  height: 60px;
}
.nav .n5 {
  display: none;
}
.models {
  width: 800px;
  height: 380px;
  padding-top: 80px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: none;
}
.models .m1 {
  width: 50%;
  height: 100%;
  float: left;
  text-align: center;
  border-right: 1px solid #ccc;
}
.models .m1 p {
  width: 100%;
  height: 40px;
  font-size: 25px;
  font-weight: bold;
}
.models .m2 {
  text-align: center;
}
.models .m2 input {
  width: 260px;
  height: 35px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 18px;
}
.models .m2 select {
  width: 80px;
  height: 30px;
  border-radius: 5px;
}
.models .m2 .close {
  width: 40px;
  height: 40px;
  text-align: centre;
  line-height: 40px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
  color: #777777;
}
.models .m2 i {
  width: 200px;
  height: 40px;
  font-style: normal;
  display: block;
  border-radius: 10px;
  background-color: red;
  color: #FFFFFF;
  float: right;
  text-align: center;
  line-height: 40px;
  margin: 30px 90px;
}
.mask {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 0.5;
  z-index: 888;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
}
